.Card {
    position: relative; // key for absolute positioning inside
    display: flex;
    flex-direction: row; // keep it column for mobile, will override with media query or add row on larger screens
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 80%;
    background-color: #fff;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // padding: 20px;
    // gap: 30px;
    transition: transform 0.2s ease;


    .image {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: none;
        border-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        width: auto;
        height: 85rem;
        transition: transform 0.2s ease;
        align-self: center;
        width: 8em;
        height: 12em;
        border-radius: 6px;
        display: block;

        &:hover {
            transform: translateY(-53%);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }


    }

    .Textcontent {
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.7rem;
        justify-content: flex-start;

        // padding: 5px;
        margin-left: 210px;
        margin-right: 50px;

        // margin-bottom: 20px;
        h3 {
            padding-top: 22px;
        }

        p {
            margin-top: 0px;
            padding-top: 0px;

        }
    }
}