@use "../../scss/fonts" as fonts;
@use "../../scss/palette" as palette;

.Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 100px 200px;
    background-color: palette.$lightestgreen;
    min-height: 500px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 80px 100px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 60px 40px;
    }

    @media (max-width: 480px) {
        padding: 40px 20px;
    }
}