@use "../../scss/fonts" as fonts;
@use "../../scss/palette" as palette;

footer {
    padding: 2px;
    font-size: 1rem;
    background-color: palette.$saturatedgreen;

    .text {
        @extend .funnel-display-text;
        font-size: 0.9 rem;
        color: palette.$white;
        margin-left: 8%;
    }
}