@use "./scss/fonts";
@use "./scss/palette";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  height: 25px;
  width: 100%;
  padding: 30px 20px 20px 40px;
  background-color: $saturatedgreen;
  display: flex;
  position: relative;
  z-index: 10;

  .navbarTitle {
    @extend .funnel-display-text;
    font-size: 1.2rem;
    color: $white;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }

    @media (max-width: 480px) {
      font-size: 1.2rem;
    }
  }
}


.Container {
  background-image: url('/src/assets/pexels-samson-katt-5255236.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow-x: hidden;


  header {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .errorMessage {
    color: $white;
  }

  .searchBar {
    position: relative;
    width: 60%;
    height: 80px;
    margin: 0 auto;

    input {
      @extend .funnel-display-text;
      font-size: 10%;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      border: 0.1px solid $lightgrey;
      border-radius: 10px;
      outline: $darkgrey;
      color: $brightgreen;
      box-sizing: border-box;
      background-color: $lighterwhite;
      padding: 0 60px 0 15px;
      position: relative;
      z-index: 1;

      &::placeholder {
        color: $mediumgreen;
        font-style: italic;
        font-weight: 300;
      }
    }

    button {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      height: 70px;
      width: 80px;
      border: 0.1px solid $lightgrey;
      border-radius: 7px;
      background-color: $mediumwhite;
      color: $white;
      outline: $darkgrey;
      z-index: 2;
    }
  }
}