@use "../../scss/fonts" as fonts;
@use "../../scss/palette" as palette;

.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: palette.$softgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalcontent {
    background: palette.$white;
    padding: 20px;
    box-shadow: 0 4px 12px palette.$mediumblack;
    // border-radius: 8px;
    position: relative;
    margin-top: 12%;
}

.closebutton {
    position: absolute;
    top: 1px;
    // right: 2px;
    right: 2px;
    background: none;
    border: none;
    // font-size: 1.5rem;

    .icon {
        margin-bottom: 2%;
    }


}



@media (max-width: 768px) {
    .modal-content {
        width: 30%;
        padding: 20px;
        box-shadow: 0 4px 12px palette.$mediumblack;
        // border-radius: 8px;
        position: relative;
        margin-top: 12%;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 30%;
        padding: 20px;
        box-shadow: 0 4px 12px palette.$mediumblack;
        // border-radius: 8px;
        position: relative;
        margin-top: 12%;
    }
}