// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.funnel-display-header {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.funnel-display-title {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.funnel-display-text {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.quicksand-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}