:root {
    --color-1: rgb(198, 57, 104); //text
    --color-2: rgb(255, 104, 112); //extra
    --color-3: rgb(252, 238, 221); //page background
    --color-4: rgb(255, 190, 134); //cards background
}